/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2016, 11:14:16 AM
    Author     : 984984
*/
body{
    background-image: url('img/background.png');
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
    text-align: center;
    width:100vw;
    
}
#banner{
    text-align: center;
    width:100%;
    padding-top: 0;
    background-image:url('img/bannerbg.png'); 
    background-repeat: repeat-x;
    
}
.headings{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 3px 3px #999999;
}
.content{
    display:inline-block;
    width:800px;
    border: 4px solid gray;
    border-radius: 20px;
    margin: auto;
    overflow:hidden;
    text-align: center;
}
.right-overview{
    float:right;
    width:250px;
    text-align: left;
    background-color:#A2B964;
    height:100%;
    padding-bottom: 10pt;
}
.overview-content{
    padding-left:10px;
    font-size: 8pt;
    font-family: Arial,sans-serif;
    
}
.left-review{
    float:left;
    width:550px;
    overflow: hidden;
    height:100%;
    
}
.rottenRate{
    background-image:url('img/rbg.png'); 
    background-repeat: repeat-x;
    text-align: left;
    font-size: 48pt;
    font-weight: bold;
    color:Red;
    vertical-align: middle;
    height:83px;
}
.rottenRate > img{
    height:83px;
    float:left;
     
}
.column1{
    width:47%;
    height: 100%;
    display:inline-block;
    vertical-align: top;
    
}
.column2{
    margin-left: 2%;
    width:47%;
    height: 100%;
    display:inline-block;
    vertical-align: top;
}
.columns{
    display:block;
    height: 100%;
    margin-top:10px;
}
.reviews{
    font-size: 8pt;
    font-weight: bold;
    background-color:#E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px 8px 8px 8px;
   text-align: left;
   overflow:hidden;
    
}
.reviews > p> img{
    float:left;
}
.reviewerDetails{
    font-style: italic;
    overflow: hidden;
}
.cells{
    text-align: left;
    margin-bottom:20pt;
    
}
.reviewerDetails > p> img{
    margin-right: 5px;
    float:left;
}
dt{
    font-weight: bold;
}
dd{
    padding-bottom: 10px;
}
.footer{
    clear:both;
    background-color: #A2B964;
    margin-top:5px;
    height:100%;
    width:100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
}
.validator{
    height: 100%;
    vertical-align: bottom;
}
.validate{
    position: fixed;
    right: 0;
    bottom: 0;
}
.mainContainer{
    display:block;
    width:100%;
    height:100%;
    overflow: hidden;
    position: relative;
}