/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 20, 2016, 9:20:48 PM
    Author     : Nabin
*/
body{
    background-color:lavender
}
h1,h2{
    font-family: "Times New Roman", Georgia, Serif;
    color:indigo;
    font-weight: bold
    
}
strong{
    color:green
}
li{
    font-size: 13pt;
    font-family:Arial,Helvetica Neue,Helvetica,sans-serif; 
}


a {
    color: blue;
}

a:link {
    text-decoration: none;
    color:blue;
}

a:visited {
    text-decoration: none;
    color:purple;
}

a:hover {
    text-decoration: underline;
    color:green;
    
}


a:active {
    text-decoration: underline;
    color:red;
}
dt{
    color:green;
    font-weight: bold;
}

/*ol{
    list-style-type:none;
    counter-reset:item 5;
}
ol > li {
    counter-increment:item -1;
}

ol > li:before {
    content: counter(item);
}*/